<meta property="og:title" content="{{ if .Site.Params.ogtitle }}{{ .Site.Params.ogtitle }}{{ else }}{{ .Title }}{{ end }}" />
<meta property="og:description" content="{{ if .Site.Params.ogdescription }}{{ .Site.Params.ogdescription }}{{ else }}{{ .Description }}{{ end }}" />
<meta property="og:type" content="website" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ if .Site.Params.ogimage }}
<meta property="og:image" content="{{ .Site.Params.ogimage }}" />
{{ end }}